USE [master]
GO
/****** Object:  Database [CoreTechnology]    Script Date: 8/8/2023 3:26:11 PM ******/
CREATE DATABASE [CoreTechnology]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoreTechnology', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CoreTechnology.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoreTechnology_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CoreTechnology_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoreTechnology].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoreTechnology]
GO
/****** Object:  Table [dbo].[Authorities]    Script Date: 8/8/2023 3:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Roleid] [nvarchar](10) NULL,
	[Userid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/8/2023 3:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Categoriesid] [int] IDENTITY(1,1) NOT NULL,
	[Namecategories] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Categoriesid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 8/8/2023 3:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Itemid] [int] IDENTITY(1,1) NOT NULL,
	[Productid] [int] NULL,
	[Orderid] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Itemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/8/2023 3:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Orderid] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [int] NULL,
	[createdate] [datetime] NULL,
	[address] [nvarchar](200) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Orderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/8/2023 3:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Productid] [int] IDENTITY(1,1) NOT NULL,
	[Productname] [nvarchar](300) NULL,
	[Price] [float] NULL,
	[Image1] [nvarchar](100) NULL,
	[Image2] [nvarchar](100) NULL,
	[Image3] [nvarchar](100) NULL,
	[Image4] [nvarchar](100) NULL,
	[Categoriesid] [int] NULL,
	[Brand] [nvarchar](50) NULL,
	[Promotion] [nvarchar](100) NULL,
	[Processor] [nvarchar](500) NULL,
	[RAM] [nvarchar](500) NULL,
	[VGA] [nvarchar](200) NULL,
	[Mass] [nvarchar](100) NULL,
	[Other] [nvarchar](500) NULL,
	[Active] [bit] NULL,
	[descriptions] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/8/2023 3:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/8/2023 3:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Userid] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[Passwords] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[Phone] [varchar](50) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authorities] ON 

INSERT [dbo].[Authorities] ([id], [Roleid], [Userid]) VALUES (1, N'CUST', 1)
INSERT [dbo].[Authorities] ([id], [Roleid], [Userid]) VALUES (2, N'DIRE', 1)
INSERT [dbo].[Authorities] ([id], [Roleid], [Userid]) VALUES (3, N'STAF', 1)
SET IDENTITY_INSERT [dbo].[Authorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Categoriesid], [Namecategories]) VALUES (1, N'Văn phòng')
INSERT [dbo].[Categories] ([Categoriesid], [Namecategories]) VALUES (2, N'Gaming')
INSERT [dbo].[Categories] ([Categoriesid], [Namecategories]) VALUES (3, N'Đồ họa')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([Itemid], [Productid], [Orderid], [Quantity], [Price]) VALUES (2, 40, 15, 1, 27490000)
INSERT [dbo].[Item] ([Itemid], [Productid], [Orderid], [Quantity], [Price]) VALUES (3, 14, 15, 1, 27490000)
INSERT [dbo].[Item] ([Itemid], [Productid], [Orderid], [Quantity], [Price]) VALUES (4, 1, 16, 1, 11490000)
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Orderid], [Userid], [createdate], [address], [active]) VALUES (15, 1, CAST(N'2023-08-05T13:07:08.207' AS DateTime), N'j', 1)
INSERT [dbo].[Orders] ([Orderid], [Userid], [createdate], [address], [active]) VALUES (16, 1, CAST(N'2023-08-05T13:08:50.610' AS DateTime), N'quận tân bình', 1)
INSERT [dbo].[Orders] ([Orderid], [Userid], [createdate], [address], [active]) VALUES (18, 2, CAST(N'2023-08-05T19:24:29.030' AS DateTime), N'hh', 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Roles] ([id], [Name]) VALUES (N'CUST', N'Customers')
INSERT [dbo].[Roles] ([id], [Name]) VALUES (N'DIRE', N'Directors')
INSERT [dbo].[Roles] ([id], [Name]) VALUES (N'STAF', N'Staffs')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Userid], [fullname], [Passwords], [Username], [Active], [Phone], [Email]) VALUES (1, N'Nguyễn Văn A', N'123', N'VanA', 1, N'123', N'A@gmail.com.vn')
INSERT [dbo].[Users] ([Userid], [fullname], [Passwords], [Username], [Active], [Phone], [Email]) VALUES (2, N'Nguyễn Văn B', N'123', N'VanB', 1, N'123', N'B@gmail.com.vn')
INSERT [dbo].[Users] ([Userid], [fullname], [Passwords], [Username], [Active], [Phone], [Email]) VALUES (9, N'Nguyễn Thiên Phúc', N'123', N'phuc1', 1, N'123', N'phucnhoxcute123567@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Authorities]  WITH CHECK ADD FOREIGN KEY([Roleid])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Authorities]  WITH CHECK ADD FOREIGN KEY([Userid])
REFERENCES [dbo].[Users] ([Userid])
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD FOREIGN KEY([Orderid])
REFERENCES [dbo].[Orders] ([Orderid])
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD FOREIGN KEY([Productid])
REFERENCES [dbo].[Product] ([Productid])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Userid])
REFERENCES [dbo].[Users] ([Userid])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([Categoriesid])
REFERENCES [dbo].[Categories] ([Categoriesid])
GO
USE [master]
GO
