<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="footter">
		<div class="container">
			<div class="product-footer">
				<div class="row">
					<div class="col-md-4">
						<img
							src="https://laptop88.vn/media/banner/14_Feb106fb2e4fa26a8e9108f6868c4a0ab9e.png"
							alt="" width="100%">
					</div>
					<div class="col-md-4">
						<img
							src="https://laptop88.vn/media/banner/08_Febde78649a3de2f1ff7425b8034e7d03eb.png"
							alt="" width="100%">
					</div>
					<div class="col-md-4">
						<img
							src="https://laptop88.vn/media/banner/14_Feb50819b9c8940a1887f3f3c1eec9a4818.png"
							alt="" width="100%">
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="footer">
				<div class="container information-footer">
					<div class="row">
						<div class="col-md-3">
							<h3>THÔNG TIN CÔNG TY</h3>
							<h5>CÔNG TY CỔ PHẦN 88 GROUP VIỆT NAM</h5>
							<h5>Số 28/2/49/53 Đức Giang, Phường Thượng Thanh, Quận Long
								Biên, Thành phố Hà Nội, Việt Nam</h5>
							<h5>SĐT: 024.7106.9999 - Email: contact@laptop88.vn</h5>
							<h5>Website: laptop88.vn</h5>
							<h5>Mã số doanh nghiệp: 0108529423, cấp lần đầu ngày
								28/11/2018</h5>
							<h5>Sở KHĐT TP. Hà Nội cấp</h5>
						</div>
						<div class="col-md-3">
							<h3>LAPTOP88</h3>
							<h5>Chăm sóc khách hàng</h5>
							<h5>* Hotline: 0247.106.9999</h5>
							<h5>* Thời gian: 24/7</h5>
							<h5>* Email: contact@laptop88.vn</h5>
						</div>
						<div class="col-md-3">
							<h3>CHÍNH SÁCH</h3>
							<h5>Chính sách mua hàng từ xa</h5>
							<h5>Chính sách đặt cọc sản phẩm</h5>
							<h5>Chính sách giao nhận - đổi trả</h5>
							<h5>Chính sách bảo hành</h5>
							<h5>Chính sách bảo mật thông tin</h5>
							<h5>Thỏa thuận sử dụng và quy định giao dịch chung</h5>
						</div>
						<div class="col-md-3">
							<h3>THANH TOÁN</h3>
							<h5>Thanh toán trực tuyến (Internet Banking)</h5>
							<h5>Thanh toán khi nhận hàng (COD)</h5>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>