body {
	/*background-color: #eae7e75f;*/
	background-color: #f1f2f3;
}

.header-top {
	padding: 5px;
	/*background-image: linear-gradient(#E30019, #eb6161);*/
	background-color: #E30019;
	 position: sticky;
    top: 0;
    z-index: 999;
}

.header-top__rightitems {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.right-item a {
	display: flex;
	text-decoration: none;
}

.right-item i {
	margin-top: 10px;
	font-size: 20px;
	margin-right: 5px;
	color: #fff;
}

.right-item p {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
}

.sub-block {
	display: flex;
	min-height: 310px;
}

.sub-title {
	margin-right: 20px;
}

.sub-block .sub-title p {
	color: #E30019;
	font-weight: 600;
	margin-bottom: 5px;
}

.sub-block .sub-title a {
	color: rgba(0, 0, 0, 0.558);
	font-weight: 500;
	font-size: 15px;
}

.sub-title a:hover {
	color: #E30019;
}

.item {
	text-align: center;
	margin-bottom: 13px;
}

.item .name {
	margin: 0;
}
/* .search input{
    width: 80%;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 50px 0 0 50px;
    border: 0;
    height: 35px;
}
.search button{
    border-radius: 0 50px 50px 0;
    border: 0;
    height: 35px;
    padding-left: 10px;
} */
.namecreater {
	display: flex;
	justify-content: space-between;
}

.namecreater p {
	margin-top: 12px;
	margin-bottom: 0;
	color: #ed0e28;
	font-weight: 500;
	text-shadow: 2px 2px 4px rgba(222, 12, 12, 0.501);
}

.categoryname {
	display: flex;
	/*background-color: #e3001aa3;*/
	background-color: #BE1529;
	width: 255px;
	margin-left: 15px;
}

.categoryname i {
	margin-top: 5px;
	font-size: 20px;
	margin-left: 30px;
	margin-top: 12px;
	color: #fff;
}

.categoryname p {
	margin-top: 8px;
	margin-left: 10px;
	color: #fff;
}

.header-bottom {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}



.header-bottom {
    background-color: #fff;
}

.header-menu {
    padding-top: 10px;
}

.header-menu__right {
    border: 1px solid #E30019;
    border-radius: 5px;
    padding: 5px;
}

.header-menu__right .item p {
    font-size: 12px;
    font-weight: 500;
}

/* .categories-item{
    width: 95%;
} */

/* .categoryname{
    width: 95%;
} */

.product-demo {
    margin-top: 15px;
    background-color: #fff;
    margin-bottom: 20px;
}

.product-demo .col-md-2 {
    padding: 10px;
}

.sub-menu {
    position: absolute;
    list-style: none;
    margin-left: 245px;
    background-color: #fff;
    width: 850px;
    top: 0;
    display: none;
    z-index: 1;
}

.sub-menu li .a {
    display: flex;
}

.categories-item:hover .sub-menu {
    display: block;
}

.sub-menu:hover {
    display: block;
}

.title-hot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.title-hot h3 {
    font-weight: 700;
    color: #555;
    font-size: 20px;
}

.brand>a {
    padding: 7px 20px;
    background-color: #ebebeb;
    text-decoration: none;
    border-radius: 15px;
    color: black;
    margin: 0px 5px;
}

.brand>a:hover {
    color: #f00f29;
}

.product {
    margin-top: 40px;
}

.product-item {
    background-color: #fff;
    padding: 10px;
}

.product-hot a {
    text-decoration: none;
    text-align: left;
}

.prodcut-title {
    font-weight: 600;
    color: black;
    font-size: 18px;
    margin: 0;
}

.product-configuration {
    margin-top: 5px;
}

.product-configuration p {
    font-size: 15px;
    font-weight: 400;
    color: #666;
    margin: 5px;
}

.product-pricesale {
    display: flex;
    justify-content: space-between;
}

.product-pricesale span {
    margin-left: 45px;
}

.product-pricesale p {
    margin-right: 50px;
    background-color: #d00012;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}

.product-price {
    padding: 2px 10px;
    color: rgb(227, 0, 25);
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: -10px 0 5px 0;
}

.product-hot .col-md-3 {
    padding: 5px;
}

.product-footer {
    margin-top: 20px;
}

.product-footer img {
    box-shadow: 0 0 5px 0;
    border-radius: 12px;
}

.footer {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0px -2px 2px rgb(209, 205, 205);
}

.information-footer h3 {
    font-size: 20px;
}

.information-footer h5 {
    font-size: 15px;
    color: #555353;
    font-weight: 350;
}


.zalo {
    padding: 5px 5px;
    background-color: #E30019;
    margin: 0;
    border-radius: 10px;
    color: #fff;
}

.product-hot .col-md-3 :hover .product-item {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.305);
}

.search {
    display: flex;
    align-items: center;
    background-color: #fbf3f3;
    border-radius: 20px;
    padding: 7px;
    margin-top: 10px;
}

.search input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #fbf3f3;
}

.search button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.categories {
    display: none;
}


.cart-main {
    width: 70%;
    margin-left: 15%;
    align-items: center;
    margin-top: 20px;
}

.cart-title {
    display: flex;
    justify-content: space-between;
}

.cart-title p{
    margin-right: 50%;
    font-size: 25px;
    font-weight: 700;
    color: #E30019;
}

.cart-title a{
    color: #E30019;
    text-decoration: none;
    font-weight: 500;
}

.mycart{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(156, 151, 151);
    margin: 0;
}
.mycart a{
    text-decoration: none;
}
.myproduct{
    display: flex;
    padding: 20px;
}
.productinfo{
    margin-left: 30px;
}

.product_title{
    font-weight: 700;
    color: black;
}

.product_price{
    color: #E30019;
    font-weight: 700;
}

.collection{
    display: flex;
}

.collection p{
    margin-right: 20px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.collection a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.myproduct:hover .product_title{
    color: #E30019;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.cart-footer a{
    text-decoration: none;
    color: #1a1818;
    font-weight: 500;
}

.cart-footer p{
    text-decoration: none;
    color: #E30019;
    font-weight: 500;
}


.ok a{ 
    padding: 10px;
    width: 400px;
    background-color: #E30019;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
}

.ok {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ok a:last-child{
    color: #E30019;
    background-color: #fff;
    border: 1px solid #E30019;
}

#fist:hover {
    background-color: #f84459;
    box-shadow: 0 0 5px #e20922;
}

.main-form{
    width: 400px;
    margin-left: 35%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
    background: #fff;
}
.main-form h3{
    margin-left: 12%;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow:  0 0 5px rgb(148, 144, 144);
}

.form-grop input{
    width: 350px;
    margin-bottom: 20px;
    border: 0.5px solid rgb(202, 197, 197);
    border-radius: 5px;
    padding: 5px;
}

.form-grop input:focus {
    outline: none;
    box-shadow: 0 0 5px #e3001a9a;
  }
.form-grop button{
    border: 0;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #E30019;
    margin-right: 10px;
    color: #fff;
}

.suport{
    display: flex;
    margin-left: 60px;
    margin-top: 20px;
}
.suport a{
    margin-right: 5px;
    margin-left: 5px;
    color: #5ec0f4;
    text-decoration: none;
}

.suport a:hover{
    color: #E30019;
}

.button-group{
    display: flex;
    margin-left: 25%;
}